* {
    padding: 0px;
    margin: 0px;
}

body {
    direction: ltr;

}

.home {
    width: 100%;
    top: 0px;

}

.home .nav {
    overflow: auto;
    border-radius: 20px;

}


.home .nav ul {

    list-style-type: none;

}

.home .nav .bars {
    font-size: 25px;
    margin: 15px;
    color: black;
    display: none;
}

.home .nav ul li {

    float: right;
    margin: 10px;
}

.home .nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.home .nav ul li a:hover {
    text-decoration: none;
    color: blue;
    padding: 10px;
}

.home .nav a {
    float: right;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
    font-size: x-large;

}

.home .nav ul li button {
    padding: 10px;
    margin: 10px;
    color: black;
    background-color: white;
    color: orangered;
    border: 3px solid orange;
}

.home .nav ul li .but1:hover {
    /*  padding:10px;
    margin:10px; 
    color:orange;*/
    background-color: orange;
    color: white;
}

.img1 {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 70px;
    padding-top: 20px;
    display: block;
}

/*======================end nav===================*/
.perent1 {
    width: 100%;
    /*background-color: aqua;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.perent1 .child1 {
    width: 40%
}

.img2 {
    width: 400px;
    height: 400px;
    animation-name: anamy;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes anamy {
    25% {
        transform: translate(20px);
    }

    50% {
        transform: translate(0px);
    }

    75% {
        transform: translate(20px);
    }

    100% {
        transform: translate(0px);
    }
}

.perent1 .child1 h1 {
    font-size: 50px;
}

.perent1 .child1 p {
    font-size: 25px;
}

.perent1 .child1 .but2 {
    width: 20%;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: orange;
    color: white;
    border: 1px solid orange;
    border-radius: 15px;
}

.perent1 .child1 .but2:hover {
    background-color: blueviolet;
}


/*===============end perent1================*/
.images {
    width: 100%;
    background-color: rgba(196, 196, 202, 0.5);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.images .childimages{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img3 {
    width: 70px;
    height: 70px; 
    margin-top: 10px;
    margin-bottom: 10px;
}

/*============end images============*/

.perent2 {
    width: 100%;
   /* background-color: blueviolet;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header h2 {
    text-align: center;
    font-size: 40px;
    font-size: bold;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    text-decoration: underline orange;
}

.perent2 .child2 {
    width: 40%;
}

.perent2 .child2 {
    font-size: 20px;
    margin-top: 10px;
}

.perent2 .child2 .img4 {
    width: 500px;
    height: 370px;
    margin-top: 10px;
}

.perent2 .child2 .but3 {
    width: 30%;
    height: 40px;
    color: orange;
    border: 1px solid orange;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.perent2 .child2 .but3:hover {
    background-color: orange;
    color: white;
}

/*=================end perent2===*/
.perent3 {
    width: 100%;
   /* background-color: rgb(95, 83, 105);*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.perent3 .child3 {
    width: 40%;
}

.perent3 .child3 .but4 {
    width: 30%;
    height: 40px;
    color: orange;
    border: 1px solid orange;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.perent3 .child3 .but4:hover {
    background-color: orange;
    color: white;
}

.perent3 .child3 h2 {

    color: black;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 10px;
}


.perent3 .child3 p {
    color: black;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*=================end perent3===*/
.count {
    width: 100%;
    background-color: rgb(218, 213, 223);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  /*  background-color: aqua;*/
}

.count .chcount {

    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-top: 10px;
    margin-bottom: 10px;

}

.count .chcount h1 {
    text-align: center;
    color: white;
    background-color: orange;
    margin-top: 30px;
}

.count .chcount .cou1 {
    width: 25%;
    height: 270px;
    border-radius: 20px;
    overflow: auto;
    background-image: url(../img//serv/p7.png);
    background-size: 100% 100%;
}

img {
    width: 100%;
}

.count .chcount .cou2 {

    width: 25%;
    height: 270px;
    border-radius: 20px;
    overflow: auto;
    background-image: url(../img//serv/p1.png);
    background-size: 100% 100%;
}

.count .chcount .cou3 {

    width: 25%;
    height: 270px;
    border-radius: 20px;
    overflow: auto;
    background-image: url(../img//serv/p2.png);
    background-size: cover;
}

/*==================end count=================*/
.count2 {
    width: 100%;
    background-color: rgb(218, 213, 223);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   /* background-color: aqua;*/
}

.count2 .chcount2 {

    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;

}

.count2 .chcount2 h1 {
    text-align: center;
    color: white;
    background-color: orange;
    margin-top: 30px;
}

.count2 .chcount2 .cou4 {

    width: 25%;
    height: 270px;
    border-radius: 20px;
    overflow: auto;
    background-image: url(../img//serv/p3.png);
    background-size: 100% 100%;
}

.count2 .chcount2 .cou5 {

    width: 25%;
    height: 270px;
    border-radius: 20px;
    overflow: auto;
    background-image: url(../img//serv/p4.png);
    background-size: 100% 100%;
}

.count2 .chcount2 .cou6 {

    width: 25%;
    height: 270px;
    border-radius: 20px;
    overflow: auto;
    background-image: url(../img//serv/p5.png);
    background-size: 100% 100%;
}


/*=============================end count2=========*/
.count3 {
    width: 100%;
    background-color: rgb(218, 213, 223);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   /* background-color: aqua;*/
}

.count3 .chcount3 {

    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;

}

.count3 .chcount3 h1 {
    text-align: center;
    color: white;
    background-color: orange;
    margin-top: 30px;
}

.count3 .chcount3 .cou7 {

    width: 25%;
    height: 270px;
    border-radius: 20px;
    overflow: auto;
    background-image: url(../img//serv/p6.png);
    background-size: 100% 100%;
}

.count3 .chcount3 .cou8 {

    width: 25%;
    height: 270px;
    border-radius: 20px;
    overflow: auto;
    background-image: url(../img//serv/p9.png);
    background-size: 100% 100%;
}

.count3 .chcount3 .cou9 {

    width: 25%;
    height: 270px;
    border-radius: 20px;
    overflow: auto;
    background-image: url(../img//serv/p8.png);
    background-size: 100% 100%;
}
/*=======================end count==================*/
.im {
    width: 100%;
     background-color: rgb(218, 213, 223);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.im p {
    text-align: center;
    margin: 30px;
    font-size: 20px;
}

img {
    width: 100% 100%;
}


/*=================end im===*/
.header p {
    text-align: center;
    margin: 30px;
    font-size: 20px;
}

/*======end header=====*/
.last {
    width: 100%;
    background-color: rgb(218, 213, 223);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.last .chlast {
    width: 45%;
}

.last .chlast img {
    width: 550px;
    height: 500px;
    margin-top: 8px;
    /*padding-left: 45px;*/
}

.last .chlast form {
    width: 70%;
    height: 500px;
    margin: 12px;
    padding-left: 25px;
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
    background-color: rgb(253, 253, 253);
}
.last .chlast form input{
    width: 95%;
    height: 40px;
  
    margin-bottom: 30px; 
}

.last .chlast form input:hover {
    border-color: orange;
}

.last .chlast form textarea {
    width: 100%;
    margin-bottom: 30px;
    margin-bottom: 30px;
    border-color: rgb(122, 121, 121);
}

.last .chlast form textarea:hover {
    border-color: orange;
}

.last .chlast form .but5 {
    width: 30%;
    height: 40px;
    color: orange;
    border: 1px solid orange;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 32%;
    border-radius: 10px;
}

.last .chlast form .but5:hover {
    background-color: orange;
    color: white;

}

/*=========end last===========*/
.finaly {
    width: 100%;
    background-color: rgb(218, 213, 223);
    justify-content: space-around;
    flex-wrap: wrap;
}

.finaly h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(148, 148, 238);
    margin-left: 80px;
}

.finaly p {
    margin-left: 80px;
    margin-bottom: 10px;
}

.finaly .finalychild {
    margin-left: 80px;
    margin-bottom: 10px;
}

.finaly .finalychild i {
    color: white;
    border: 1px solid orange;
    background-color: orange;
    margin-bottom: 10px;
}

.finaly .finalychild i:hover {
    border: 2px solid white;
}

/*======end finaly======*/
.revtion {
    width: 100%;
    background-color: rgb(218, 213, 223);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(90, 90, 172);
    color: white;
}

.revtion .rev {
    width: 40%;
    margin: 30px;
}

span {
    color: orange;
}

span:hover {
    color: rgb(165, 126, 201);
}

/*=================================*/
